/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

//////////////////////////////   Transition Mixins  //////////////////////////////

@mixin transition {
    transition: .2s ease-in-out;
}

//////////////////////////////   Meida Query Mixins  //////////////////////////////

@mixin large {
    @media screen and (max-width: 1502px) {
        @content;
    }
}

////////////////////////////// Define Variables  //////////////////////////////

$primaryColor: #0099FF;
$darkGrey: #3E3E3E;
$lighterGrey: #747474;

//////////////////////////////  Base Styles  //////////////////////////////

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    background-image: url('/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

//////////////////////////////  Nav Styles  //////////////////////////////

.navbar {
    width:70vw;
    margin: 75px auto 0 auto;
    position:relative;

    @include large {
        width: 85vw;
        margin: 40px auto 0 auto;
    }

    .nav-brand {
        color: #fff;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight:lighter;
        letter-spacing: .05em;

        .icon {
            position:relative;
            top: 5px;
        }

        .bold {
            font-weight: bold;
        }

        @include large {
            font-size: 1.75rem;
        }
    }

    .nav-list {
        position:absolute;
        right:0;
        top: 0;
        list-style: none;

        .nav-item {
            margin: 10px 16px;
            float:left;
            position: relative;

            .nav-link {
                color: #fff;
                text-transform: uppercase;
                text-decoration: none;
                font-size: 1.25rem;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }

                &.active-link {
                    color: $primaryColor;
                    text-decoration: none;
                }

                @include large {
                    font-size: 1rem;
                }
            }
        }

    }
}

//////////////////////////////  Container Styles  //////////////////////////////

.container {
    background: #f1f1f1;
    width:100vw;
    height: 77.5vh;
    position:absolute;
    bottom: 0;

    @include large {
        height:80vh;
    }
}

//////////////////////////////  Spinner Styles and Animation  //////////////////////////////

.spinner {
    color: $darkGrey;
    font-size: 2rem;
    position:absolute;
    left: calc(50% - 10px);
    top: calc(50% - 20px);
    transform: translate(-50%, -50%);
    animation: spin infinite 2s;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

//////////////////////////////  Button Styles  //////////////////////////////

.btn {
    padding: 1em 0;
    width: 200px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: .3s ease-in-out;
    border: 1px solid $primaryColor;

    @include large {
        padding: .75em;
        width:150px;
        font-size: .85rem;
    }

    &:focus {
        box-shadow: 0px 0px 20px rgba(0,0,0,0.25);
        outline: none;
    }

    &.primary {
        color: #fff;
        background: $primaryColor;

        &:hover {                           
            border: 1px solid $primaryColor;
            color: $primaryColor;
            background: transparent;    
        }
    }

    &.outline {
        color: $primaryColor;
        background: transparent;
        
        &:hover {    
            color: #fff;
            background: $primaryColor;
        }
    }

    &.danger {
        color: #fff;
        background: #f00;
        border-color: #f00;

        &:hover {
            border: 1px solid #f00;
            color: #f00;
            background: transparent;
        }
    }

    &.warning {
        color: #fff;
        background: #eec300;
        border-color: #eec300;

        &:hover {
            border: 1px solid #eec300;
            color: #eec300;
            background: transparent;
        }
    }

    &.following {
        color: $darkGrey;
        border: 1px solid #e1e1e1;
        background: #f1f1f1;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.05);

        &:hover {
            background: #e1e1e1;
        }
    }
}

.circle-btn {
    width: 67.5px;
    height: 67.5px;
    border-radius:50%;
    border: none;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #f4f4f4;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.025);
    transition: .3s ease-in-out;
    cursor: pointer;

    &.previous {
        left: 150px;
    }

    &.next {
        right: 150px;
    }

    &.disabled {
        opacity: 0;
        display:none;
    }

    .icon {
        color: $darkGrey;
        font-weight:bold;
        font-family: Helvetica, sans-serif;
    }

    &:hover {
        background: #f9f9f9;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.075);
        
        .icon {
            color: $primaryColor;
        }
        
    }

    &:focus {
        box-shadow: 0px 0px 20px rgba(0,0,0,0.075);
        outline: none;
    }

    @include large {
        width: 55px;
        height: 55px;

        &.next {
            right: 100px;
        }

        &.previous {
            left: 100px;
        }
    }
}

//////////////////////////////  Form Group Styles  //////////////////////////////

.form-group {
            margin: 2em 0;

            &:first-of-type {
                margin: 1.25em 0 2em 0;
            }
            &.form-grid {
                display:grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 1.5em;
                width:100%;
            }

            .input-container {
                width: 100%;
                position:relative;

                .eyeIcon {
                    color: $lighterGrey;
                    position:absolute;
                    right: 10px;
                    top:50%;
                    transform:translateY(-50%);
                    cursor:pointer;
                }

                .eyeIcon:active {
                    color: $primaryColor;
                }

                .input {
                    width: 100%;
                    height: 35px;
                    border: 1px solid $lighterGrey;
                    border-radius: 5px;
                    transition: .3s ease-in-out;
                    padding-left: 10px;
                }

                .input-label {
                    color: $lighterGrey;
                    position:absolute;
                    left:10px;
                    top:50%;
                    transform: translateY(-50%);
                    font-size: .85rem;
                    transition: .3s ease-in-out;
                }

                .input:focus {
                    border-color: $primaryColor;
                    outline: none;
                    color: $primaryColor;
                }

                .input-label.valid, .input-label.focus {
                    font-size: .75rem;
                    left: 5px;
                    transform: none;
                    top: -6px;
                    background: #fff;
                    padding: 0 10px;
                }

                .input-label.focus {
                    color: $primaryColor;
                }

                .input.error {
                    border-color: #f00;
                }

                .input-label.error {
                    color: #f00;
                }
            }
        }

//////////////////////////////  Header Styles  //////////////////////////////

.header {
    width:60vw;
    background: #fff;
    height: 55vh;
    position:relative;
    top: -50px;
    left: 50%;
    transform:translateX(-50%);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.05);
    border-radius: 20px;

    @include large {
        top: -25px;
        height:  60vh;
    }

    .title {
        text-align:center;
        color: $darkGrey;
        font-weight: lighter;
        padding: 1.5em 0 0.75em 0;
        font-size: 3rem;

        @include large {
            font-size: 2rem;
        }
    }

    .description {
        text-align:center;
        width: 75%;
        margin: 0 auto;
        color: $lighterGrey;
        font-weight:lighter;
        font-size: 1.5rem;
        line-height: 1.75em;

        @include large {
            font-size: 1.2rem;
        }

        &.right {
            text-align: left;
        }
    }

    .btn-group {
        margin: 75px auto 0 auto;
        width:525px;

        @include large {
            margin: 50px auto 0 auto;
            width: 390px;
        }

        .or {
            padding: 20px 35px;

            @include large {
                font-size: .85rem;
            }
        }
    }

    .header-grid {        
        display: grid;
        grid-template-columns: 1fr 3fr;
        width: 85%;
        margin: 2em auto 0 auto;

        .logo {
            width: 100%;
            border-radius: 50%;
            position:relative;
            top:50%;
            transform: translateY(-50%);
        }
    }

    .link {
        color: $primaryColor;
        text-decoration: none;
        position:absolute;
        left:50%;
        transform:translateX(-50%);
        bottom: 45px;
        cursor: pointer;
        
        &:hover {
            text-decoration:underline;
        }

        &.special {
            bottom: 35px;
        }
    }

    .form {
        width: 50%;
        margin: 0 auto 0 auto;

        @include large {
            width: 75%;
        }

        .btn {
            position:relative;
            left:50%;
            transform:translateX(-50%);
            margin-top: 12.5px;
        }
    }

    &.register {
        height: 57.5vh;

        @include large {
            height: 70vh;
        }

    }

    &.projects, &.community {
        height: 72.5vh;
        position:absolute;
    }

    &.noprofile {
        height: 37.5vh;
    }

    &.profile {
        height: 72.5vh;
    
        .profile-header {
            width:100%;
            height: 200px;
            object-fit: cover;
            object-position: 50% 50%;
            border-radius: 20px 20px 0px 0px;
            border: 2px solid #fff;
            position:absolute;
            top: 0;
            left: 0;

            @include large {
                height: 150px
            }
        }

        .edit-grid {
            display: grid;
            grid-template-areas: 
                        "info pic"
                        "info header";
            width:60vw;
            height:55vh;

            .heading {
                color: $primaryColor;
                font-weight:lighter;
                text-align:center;
                font-size: 1.5rem;

                @include large {
                    font-size: 1.15rem;
                }
            }

            .edit-info, .edit-profile-pic, .edit-header {
                padding: 1em;
                position:relative;
                width:100%;
                height: 100%;

                .content {
                    position:absolute;
                    top: 40px;
                    left:50%;
                    transform: translateX(-50%);  
                    width:100%;                   
                }
            }

            .edit-info {
                grid-area: info;
                border-right: 1px solid #ccc;
                width: 100%;

                .description {
                    color: #aaa;
                    font-weight: lighter;
                    font-size: 1.15rem;
                    width: 100%;
                    padding: 5px 0 20px 0;

                    @include large {
                        font-size: 1rem;
                    }
                }

                .field-list {
                    width: 75%;
                    margin: auto;

                    .field-input {
                        position:relative;
                        left:50%;
                        transform:translateX(-50%);
                        width: 90%;
                        height: 35px;
                        border: 1px solid $lighterGrey;
                        border-radius: 5px;
                        transition: .3s ease-in-out;
                        padding-left: 10px;

                        &:focus {
                            outline: none;
                            border-color: $primaryColor;
                            color: $primaryColor;
                        }

                        @include large {
                            height: 30px;
                        }
                    }

                    .field:not(:first-of-type) {
                        margin-top: 30px;

                        @include large {
                            margin-top: 20px;
                        }
                    }

                    .field-name {
                        margin-bottom: 10px;
                        font-size: 1.05rem;
                        color: $darkGrey;
                        font-weight:lighter;
                        text-align:center;

                        @include large {
                            font-size: .85rem;
                        }
                    }

                    .btn {
                        position:relative;
                        top: 40px;
                        left:50%;
                        transform: translateX(-50%);

                        @include large {
                            width: 125px;
                            height: 35px;
                            top: 30px;
                        }
                    }
                }
            }

            .edit-profile-pic {
                grid-area: pic;
                height: 25vh;
            }

            .edit-profile-header {
                grid-area: header;
                height: 100%;
            }

            .edit-profile-pic, .edit-profile-header {

                .file-name {
                    color: $lighterGrey;
                    font-size: 1.15rem;
                    padding: 1.15em 0;
                    text-align:center;
                    font-weight: lighter;
                }

                .btn {
                    position:relative;
                    left:50%;
                    transform:translateX(-50%);
                    width: 150px;
                    height: 35px;
                    padding-top: 10px;
                }
            }
        }

        .profile-pic {
            width: 150px;
            border-radius:50%;
            border: 2px solid #fff;
            position: absolute;
            top: 150px;
            left: 50px;

            @include large {
                width: 125px;
                top: 110px;
            }
        }

        .profile-info {
            position:absolute;
            top: 200px;
            left: 200px;
            width: calc(100% - 200px);
            height: 90px;

            @include large {
                top: 150px;
                left: 165px;
            }

            .profile-name {
                color: $darkGrey;
                font-weight:lighter;
                padding: .75em 0 10px 1em;
                font-size: 1.65rem;
            }

            .profile-username {
                color: lighten($lighterGrey, 5%);
                font-weight:lighter;
                font-size: 1rem;
                margin-left: 1.5em;
            }

            .btn-group {
                position:absolute;
                top: -15%;
                right: -125px;
                transform: translateY(-50%);

                @include large {
                    top: 10%;
                }

                .btn:first-of-type {
                    margin-right: 12px;
                }

                .btn  {
                    width: 125px;
                    @include large {
                        width: 100px;
                    }

                    &.edit {
                        width: 125px;
                        position:absolute;
                        right: 175px;
                        bottom: 50%;
                        transform: translateY(50%);
                    }
                }
            }
        }

        .profile-slider {
            position:absolute;
            left: 150px;
            width: calc(100% - 300px);
            height: calc(100% - 300px);
            top: 350px;

            @include large {
                top: 275px;
                height: calc(100% - 150px);
                width: calc(100% - 150px);
                left: 75px;
            }

            .headings { 
                display:flex;
                flex-direction: row;
                list-style: none;
                text-align:center;

                .heading {
                    width: 25%;
                    color: $darkGrey;
                    font-size: 1.25rem;
                    cursor: pointer;
                    transition: .3s ease-in-out;     
                    
                    @include large {
                        font-size: .85rem;
                    }

                    &.active {
                        color: $primaryColor;
                    }

                    &:hover {
                        color: $primaryColor;
                    }
                }

            }

            .slider {
                width:100%;
                height: 3px;
                background: #f1f1f1;
                margin: 1.25em auto 0 auto;

                .bar {
                    width: 25%;
                    height: 3px;
                    margin-left: 0;
                    background: $primaryColor;
                    transition: .5s ease-in-out;

                    &.pos-community {
                        margin-left: 25%;
                    }

                    &.pos-followers {
                        margin-left: 50%;
                    }

                    &.pos-stats {
                        margin-left: 75%;
                    }
                }
            }

            .analytics {
                position: absolute;
                bottom: 50px;
                height: 335px;
                width: 100%;
                z-index: 1;
                opacity: 1;
                transition: .5s ease-in-out;

                .heading {
                    font-weight: lighter;
                    color: $lighterGrey;
                    font-size: 1.35rem;
                    text-align:center;
                    margin: 2em 0 1.5em;
                }

                .grid {
                    width: 100%;
                    display:grid;
                    grid-template-columns: repeat(4, 1fr);

                    .analytic-box {
                        width: 80%;
                        height: 135px;
                        margin: 0 auto;
                        background:lighten($lighterGrey,  50.5%);
                        border-radius: 15px;
                        
                        .analytic-title {
                            font-size: 1rem;
                            font-weight: lighter;
                            color: $darkGrey;
                            text-align:center;
                            padding: 20px 0 10px 0;    
                        }

                        .analytic-value {
                            font-size: 3rem;
                            text-align:center;
                            color: $primaryColor;
                            font-weight: normal;
                        }
                    }
                }
                &.hidden {
                    opacity:0;
                    z-index:-1;
                }

                @include large {
                    height: 192px;
                    bottom: 125px;
                }
            }

            .follower-section {
                position:absolute;
                bottom: 50px;
                height: 335px;
                overflow-y: scroll;
                width:100%;
                transition: .5s ease-in-out;
                z-index: 1;
                opacity: 1;

                @include large {
                    height: 150px;
                    bottom: 167.5px;
                }

                &::-webkit-scrollbar {
                    width:3px;
                }
        
                &::-webkit-scrollbar-thumb {
                    background: $primaryColor;
                }
        
                &::-webkit-scrollbar-track {
                    background: $darkGrey;
                }


                &.hidden {
                    opacity: 0;
                    z-index: -1;
                }

                .followers-title {
                    font-weight: lighter;
                    color: $darkGrey;
                    font-size: 1.25rem;
                    padding: 20px;
                    
                    @include large {
                        font-size: 1rem;
                        padding: 10px;
                    }
                }

                .follower {
                    width: 80%;
                    display:flex;
                    margin: 1em auto 0 auto;

                    &:not(:last-of-type) {
                        padding-bottom: 1em;
                        border-bottom: 1px solid lighten($lighterGrey, 25%);
                    }

                    .follower-icon {
                        width: 50px;
                        border-radius: 50%;
                        margin-right: 20px;
                    }

                    .btn  {
                        width: 125px;
                        margin-left: auto;

                        @include large {
                            width: 100px;
                        }
                    }

                    .name {
                        font-size: 1.5rem;
                        color: $darkGrey;
                        font-weight: lighter;
                        line-height: 50px;
                    }

                }
            }

            .project-section {
                z-index: 1;
                opacity: 1;
                transition: .5s ease-in-out;
                position:relative;
                height: 335px;

                @include large {
                    height: 190px;
                }

                &.hidden {
                    opacity: 0;
                    z-index: -1;
                }

                .no-projects {
                    color: $lighterGrey;
                    font-size: 1.25rem;
                    font-weight: lighter;
                    padding: 2em 15px;
                }

                .small-circle-btn {
                    width:50px;
                    height:50px;
                    border-radius:50%;
                    border:0;
                    background: #f4f4f4;
                    box-shadow: 0px 0px 15px rgba(0,0,0,0.025);
                    position:absolute;
                    top:50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                    transition: .2s ease-in-out;

                    &.next {
                        right: -20px;
                    }

                    &.previous {
                        left: -20px;
                    }

                    &.disabled {
                        opacity: 0;
                        display:none;
                    }
                
                    .icon {
                        color: $darkGrey;
                        font-weight:bold;
                        font-family: Helvetica, sans-serif;
                    }
                
                    &:hover {
                        background: #f9f9f9;
                        box-shadow: 0px 0px 15px rgba(0,0,0,0.075);
                        
                        .icon {
                            color: $primaryColor;
                        }
                        
                    }
                
                    &:focus {
                        box-shadow: 0px 0px 20px rgba(0,0,0,0.075);
                        outline: none;
                    }

                }
                .profile-project {
                    width: 85%;
                    height: 175px;
                    background: #fff;
                    box-shadow: 0px 0px 25px rgba(0,0,0,0.1);
                    border-radius: 15px;
                    display: grid;
                    grid-template-columns: 2fr 3fr;
                    position:relative;
                    top: 50%;
                    left:50%;
                    transform: translate(-50%, -50%);

                    @include large {
                        height: 125px;
                        box-shadow: 0px 0px 20px rgba(0,0,0,0.175);
                    }

                    .project-image {
                        width:100%; 
                        border-radius: 15px 0 0 15px;
                        height: 175px;
                        object-fit: cover;
                        object-position: 50% 50%;

                        @include large {
                            height: 125px;
                        }
                    }

                    .content {
                        width:100%;
                        padding: 1.5em;

                        @include large {
                            padding: .75em;
                        }
                    }

                    .project-title {
                        font-weight:lighter;
                        font-size: 1.35rem;
                        color: $darkGrey;
                        text-align:left;
                        padding-bottom: 1em;

                        @include large {
                            font-size: 1rem;
                            padding: .5em 5px;
                        }
                    }

                    .project-desc {
                        font-weight:lighter;
                        font-size: 1.15rem;
                        color: $lighterGrey;

                        @include large {
                            font-size: .85rem;
                            padding-left: 5px;
                        }
                    }

                    .icon-group {
                        position:absolute;
                        bottom: 10px;
                    }

                    .icon {
                        color: $darkGrey;
                        font-size: 1.75rem;
                        margin: 0 7.5px;
                        transition: .3s ease-in-out;
                        cursor: pointer;
        
                        @include large {
                            font-size: 1.25rem;
                        }
        
                        &.active {  
                            color: $primaryColor;
        
                            &:hover {
                                color: $primaryColor;
                            }
                        }
                        
                        &.dislike-active {
                            color: #FF0000;
        
                            &:hover {
                                color: #FF0000;
                            }
                        }
                        &.disabled {
                            color: $lighterGrey;
                            cursor: default;
                        }
        
                        &:hover {
                            color: $lighterGrey;
                        }
        
                        
                        &.active {  
                            color: $primaryColor;
        
                            &:hover {
                                color: $primaryColor;
                            }
                        }
                    }
                }

            }
        }
    }

    &.not-found {
        height: 40vh;

        .btn {
            margin-top: 3em;
            position:relative;
            left:50%;
            transform:translateX(-50%)
;        }
    }
}

//////////////////////////////  Footer Styles  //////////////////////////////

.footer {
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 60vw;
    left:50%;
    transform:translateX(-50%);
    background: #fff;
    border-radius: 20px 20px 0 0;

    
    .footer-text {
        color: $lighterGrey;
        font-weight: lighter;
        font-size: 1.2rem;
        line-height: 60px;
        display:inline-block;
        margin-left: 20px;
    }

    .help-sign {
        float:right;
        line-height: 60px;
        margin-right: 50px;
        text-decoration: none;
        font-weight:bold;
        color: $darkGrey;
        @include transition();

        &:hover {
            color: $primaryColor;
        }
    }
}

//////////////////////////////  Sidebar Styles  //////////////////////////////

.sidebar {
    width: 60px;
    position:absolute;
    left:0;
    height: 72.5vh;
    background: #fff;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.075);
    transition: 1s ease-in-out;
    margin-top: -50px;
    z-index: 1;

    @include large {
        margin-top: -25px;
    }

    *.hidden {
            display:none;
    }

    .heading {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        color: $lighterGrey;
        font-weight: lighter;
        font-size: 1.2rem;
        line-height: 60px;
        position:relative;
        top:50%;
        transform: translateY(-50%);
    }

    .toggler {
        font-size: 1.5rem;
        positioN: absolute;
        top: 20px;
        left:50%;
        transform:translateX(-50%);
        color: $lighterGrey;
        font-weight: lighter;
        cursor: pointer;
        @include transition();
        z-index: 1;

        &:hover {
            color: $darkGrey;
        }
    }

    .header-img {
        width:100%;
        height: 20vh;
        object-fit: cover;
        object-position: 50% 50%;
        @include transition();
        opacity: .9;
        position: relative;
        border-radius: 0 20px 0 0;
        
        &.hidden {
            opacity: 0;
            z-index: 0;
        }
    }   

    .profile-icon {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position:relative;
        top: -50px;
        left:50%;
        transform: translateX(-50%);
        z-index: 1;
        border: 2px solid #fff;
        opacity: 1;

        &.hidden {
            opacity: 0;
            z-index: 0;
        }
    }

    .name {
        color: $darkGrey;
        font-weight:lighter;
        text-align:center;
        position:relative;
        top: -40.25px;
    }

    .small {
        color: $lighterGrey;
        text-align:center;
        font-weight: lighter;
        position:relative;
        top: -30px;
    }

    .btn {
        position:relative;
        left:50%;
        transform:translateX(-50%);
        margin-bottom: 30px;
    }
    
    &.open {
        width: 22.5vw;

        @include large {
            width:30vw;
        }

        .toggler {
            left: calc(100% - 50px);
            transform: none;
            color: #fff;
            background: rgba(255,255,255,0.125);
            width:40px;
            height: 40px;
            text-align:center;
            padding-top: 5px;
            border-radius: 50%;
        }
    }
}

//////////////////////////////  Error Styles  //////////////////////////////

div.error {
    background: rgba(255,0,0,0.125);
    border: 1px solid #f00;
    text-align:center;
    color: #f00;
    padding: 1em 0;
    border-radius: 5px;
    transition: .2s ease-in-out;
}

//////////////////////////////  Success Message Styles  //////////////////////////////

div.success {
    background: rgba(0, 150, 0, 0.125);
    border: 1px solid #0D0;
    text-align:center;
    color: #0D0;
    padding: 1em 0;
    border-radius: 5px;
}

//////////////////////////////  Overlay Styles  //////////////////////////////

.overlay {
    background: #000;
    opacity: 0.75;
    position:absolute;
    left:0;
    top:0;
    width:100vw;
    height: 100vh;
    z-index: 1;
    transition: 1s ease-in-out;

    &.hidden {
        left: 100vw;
        opacity: 0;
    }
}

//////////////////////////////  Modal Styles  //////////////////////////////

.modal {
    width: 35vw;
    height: 50vh;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background: #fff;
    box-shadow: 0px 0px 20pxrgba(0,0,0,0.075);
    border-radius: 20px;
    opacity: 1;
    transition: 1s ease-in-out;

    @include large {
        height: 72.5vh;
        width: 60vw;    
    }

    &.hidden {
        left: -50%;
        opacity: 0;
    }

    .close-icon {
        font-size: 2.5rem;
        position:absolute;
        right: 30px;
        top: 25px;
        color: $lighterGrey;
        transition:.2s ease-in-out;
        cursor: pointer;

        &:hover {
            color: #f00;
        }
    }

    .title {
        font-weight: lighter;
        font-size: 2rem;
        color: $darkGrey;
        padding: 1em 0 .5em 1em;
    }

    .modal-form {
        width:87.5%;
        margin: 0 auto;
    }

    .submit-btn {
        width:100%;
    }

    .search-input  {
        width:90%;
        margin-left: 5%;
        border: 0;
        border-bottom: 1px solid $darkGrey;
        color: $darkGrey;
        height: 40px;  
        font-size: 1.125rem;

        &:focus {
            border-bottom-color: $primaryColor;
            outline: none;
            color: $primaryColor;

            &::placeholder {
                color: $primaryColor;
                opacity:1;
            }
        }
    }

    .results {
        height: calc(100% - 160px);
        overflow-y: scroll;
        width: 95%;
        margin-top: 10px;

        &::-webkit-scrollbar {
            width:3px;
        }

        &::-webkit-scrollbar-thumb {
            background: $primaryColor;
        }

        &::-webkit-scrollbar-track {
            background: $darkGrey;
        }
        .title {
            font-weight: lighter;
            font-size: 1.75rem;
            color: $darkGrey;
            padding: 1em 0 .5em 1em;
        }

        .user-result {
            width: 90%;
            margin-left: 5%;
            height: 75px;
            padding: 1.25em 0;
            position:relative;
            
            &:not(:first-of-type) {
                margin-top: 1em;
                border-top: 1px solid $lighterGrey;
            }
        
            .profile-icon {
                width: 50px;
                border-radius: 50%;
                float:left;
                margin-right: 15px;
            }

            .name {
                font-weight: lighter;
                color: $darkGrey;
                padding: 7.5px 0 2.5px 0;
            }

            .username {
                font-size: .85rem;
                color: $lighterGrey;
            }

            .btn-group {
                position: absolute;
                right: 0;
                top: 67.5%;
                transform: translateY(-50%);

                .btn:first-of-type {
                    margin-right: 25px;
                }

                .btn {
                    padding: .75em;
                    width:150px;
                    font-size: .85rem;
                }
            }
        }
    }
}

//////////////////////////////  Popup Styles  //////////////////////////////

.popup {
    width: 300px;
    background: #fff;
    height: 150px;
    position:absolute;
    top: 25vh;
    left: 0;
    z-index: 1;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    transition: .75s ease-in-out;
    
    .popup-text {
        font-size: 1.15rem;
        text-align:center;
        padding: 1em;
    }
    
    .btn {
        position:relative;
        left:50%;
        top: 10px;
        transform: translateX(-50%);
    }

    &.hidden {
        left: -300px;
    }

    &.right {
        left: calc(100vw - 300px);

        &.hidden {
            left: calc(100vw + 300px);
        }
    }
}

//////////////////////////////  Project Styles  //////////////////////////////

.project {
    width: 37.5%;
    height: 71.25%;
    position:absolute;
    bottom: 30px;
    left:50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
    border-radius: 15px;
    font-family: Helvetica, sans-serif;

    @include large {
        width: 40%;
    }

    .project-img {
        width:100%;
        border-radius: 15px 15px 0px 0px;
    }

    .project-delete-icon {
        color: $lighterGrey;
        font-size: 1.05rem;
        cursor:pointer;
        transition: .2s ease-in-out;
        position: absolute;
        right: 20px;
        top: 55%;
        transform:translateY(-50%);

        &:hover {
            color: lighten($lighterGrey, 20%);
        }
    }

    .project-title {
        font-weight:lighter;
        font-size: 1.75rem;
        color: $darkGrey;
        padding: .75em 0;
        text-align:center;

        @include large {
            font-size: 1.25rem;
            padding: .5em 0;
        }
    }

    .project-desc {
        font-weight:lighter;
        font-size: 1.25rem;
        line-height:1.75em;
        color: lighten($lighterGrey, 15%);
        text-align:center;
        width: 80%;
        position:relative;
        left:50%;
        transform: translateX(-50%);

        @include large {
            font-size: 0.85rem;
        }
    }

    .project-tags {
        width: 80%;
        margin: 15px 0 0 10%;
        list-style: none;
        display:flex;
        bottom: 120px;
        overflow: hidden;

        .tag {
            background: lighten($lighterGrey, 15%);
            color: #fff;
            margin: 0 5px;
            font-size: .85rem;
            min-width: 50px;
            text-align:center;
            line-height: 25px;
            border-radius:5px;
            height: 25px;
        }

        @include large {
            bottom: 80px;

            .tag {
                height:20px;
                line-height: 20px;
            }
        }
    }

    .no-tags {
        font-weight:lighter;
        font-size: 0.85rem;
        line-height:1.75em;
        color: lighten($lighterGrey, 15%);
        margin: 20px 0 0 0;
    }

    .project-tags, .icons-container {
        position:absolute;
    }

    .icons-container {
        width:80%;
        height: 30px;
        margin: 12.5px 0 0 10%;
        bottom: 70px;

        @include large {
            bottom: 40px;
        }
        .icon-group {

            &.left {
                float:left;
            }

            &.right {
                float:right;
            }

            .icon {
                color: $darkGrey;
                font-size: 1.75rem;
                margin: 0 7.5px;
                transition: .3s ease-in-out;
                cursor: pointer;

                @include large {
                    font-size: 1.25rem;
                }

                &.active {  
                    color: $primaryColor;

                    &:hover {
                        color: $primaryColor;
                    }
                }
                
                &.dislike-active {
                    color: #FF0000;

                    &:hover {
                        color: #FF0000;
                    }
                }
                &.disabled {
                    color: $lighterGrey;
                    cursor: default;
                }

                &:hover {
                    color: $lighterGrey;
                }

                
                &.active {  
                    color: $primaryColor;

                    &:hover {
                        color: $primaryColor;
                    }
                }
            }
        }
    }

    .project-footer {
        background: #e9e9e9;
        position:absolute;
        height: 42.5px;
        bottom: 0;
        width:100%;
        border-radius: 0px 0px 15px 15px;

        .footer-text {
            font-size: 1rem;
            color: $darkGrey;
            text-align:center;
            line-height: 42.5px;

            .profile-link {
                color: $primaryColor;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        @include large {
            height: 35px;   
            line-height: 35px;

            .footer-text {
                font-size: .8rem;
            }
        }
    }
}

//////////////////////////////  Dropdown Styles  //////////////////////////////

.dropdown {
    width: 150px;
    background: #fff;
    cursor: default;
    position:absolute;
    bottom: -200px;
    height: 175px;
    border-radius: 15px;
    padding: 10px;
    left: -30px;
    z-index: 1;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .7s ease-in-out;

    &::after {
        content: '';
        width: 0;
        height: 0;
        border: 15px solid #fff;
        border-right-color: transparent;
        border-top-color: transparent;
        border-left-color: transparent;
        position: absolute;
        top: -30px;
        z-index: 1;
        left:50%;
        transform:translateX(-50%);
    }

    &.hidden {
        opacity: 0;
    }

    .dropdown-link {
        text-decoration: none;
        color: $darkGrey;
        text-align:center;
        margin: 1em 0;

        &:hover {
            text-decoration:underline;
        }

        &.active-link {
            color: $primaryColor;
        }
    }
}

//////////////////////////////  User Styles  //////////////////////////////

.user {
    width: 37.5%;
    height: 62.55%;
    position:absolute;
    bottom: 100px;
    left:50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
    border-radius: 15px;
    font-family: Helvetica, sans-serif;

    @include large {
        width:40%;
        height: 72.5%;
        bottom: 20px;
    }

    .user-header {
        width:100%;
        height: 150px;
        object-fit: cover;
        object-position: 50% 50%;
        border-radius: 15px 15px 0 0;
    }

    .user-profilepic {
        width: 25%;
        position:absolute;
        left:50%;
        top: 100px;
        transform: translateX(-50%);
        border-radius: 50%;
        border: 1px solid #fff;

    }

    .name {
        position:absolute;
        left: 50%;
        top: 52.5%;
        transform: translate(-50%, -50%);
        font-weight:lighter;
        font-size: 1.75rem;
        text-decoration: none;
        color: $darkGrey;

        &:hover {
            text-decoration: underline;
        }
        
        @include large {
            top: 55%;
            font-size: 1.25rem;
        }
    }

    .small {
        position:absolute;
        left: 50%;
        top: 60%;
        transform:translate(-50%, -50%);
        color: lighten($lighterGrey, 10%);
        font-size: 1.15rem;
        font-weight:lighter;

        &:last-of-type {
            top: 70%;   
        }

        @include large {
            font-size: .95rem;
            top: 62.5%;
        }
    }

    .btn {
        position:absolute;
        left:50%;
        transform: translateX(-50%);
        bottom: 35px;
    }

    &.active {
        background: #f1f1f1;

        .btn {
            display:none;
        }
    }
}