/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

//////////////////////////////   Transition Mixins  //////////////////////////////

@mixin transition {
    transition: .2s ease-in-out;
}

//////////////////////////////   Meida Query Mixins  //////////////////////////////

@mixin large {
    @media screen and (max-width: 1302px) {
        @content;
    }
}

////////////////////////////// Define Variables  //////////////////////////////

$primaryColor: #0099FF;
$darkGrey: #3E3E3E;
$lighterGrey: #747474;

//////////////////////////////  Base Styles  //////////////////////////////

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    background-image: url('/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

//////////////////////////////  Nav Styles  //////////////////////////////

.navbar {
    width:70vw;
    margin: 75px auto 0 auto;
    position:relative;

    @include large {
        width: 85vw;
        margin: 40px auto 0 auto;
    }

    .nav-brand {
        color: #fff;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight:lighter;
        letter-spacing: .05em;

        .icon {
            position:relative;
            top: 5px;
        }

        .bold {
            font-weight: bold;
        }

        @include large {
            font-size: 1.75rem;
        }
    }

    .nav-list {
        position:absolute;
        right:0;
        top: 0;
        list-style: none;

        .nav-item {
            margin: 10px 16px;
            float:left;

            .nav-link {
                color: #fff;
                text-transform: uppercase;
                text-decoration: none;
                font-size: 1.25rem;

                &:hover {
                    text-decoration: underline;
                }

                &.active-link {
                    color: $primaryColor;
                    text-decoration: none;
                }

                @include large {
                    font-size: 1rem;
                }
            }
        }

    }
}

//////////////////////////////  Container Styles  //////////////////////////////

.container {
    background: #f1f1f1;
    width:100vw;
    height: 77.5vh;
    position:absolute;
    bottom: 0;

    @include large {
        height:80vh;
    }
}

//////////////////////////////  Spinner Styles and Animation  //////////////////////////////

.spinner {
    color: $darkGrey;
    font-size: 2rem;
    position:absolute;
    left: calc(50% - 10px);
    top: calc(50% - 20px);
    transform: translate(-50%, -50%);
    animation: spin infinite 2s;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

//////////////////////////////  Button Styles  //////////////////////////////

.btn {
    padding: 1em 0;
    width: 200px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: .3s ease-in-out;
    border: 1px solid $primaryColor;

    @include large {
        padding: .75em;
        width:150px;
        font-size: .85rem;
    }

    &:focus {
        box-shadow: 0px 0px 20px rgba(0,0,0,0.25);
    }

    &.primary {
        color: #fff;
        background: $primaryColor;

        &:hover {                           
            border: 1px solid $primaryColor;
            color: $primaryColor;
            background: transparent;    
        }
    }

    &.outline {
        color: $primaryColor;
        background: transparent;
        
        &:hover {    
            color: #fff;
            background: $primaryColor;
        }
    }

    &.danger {
        color: #fff;
        background: #f00;
        border-color: #f00;

        &:hover {
            border: 1px solid #f00;
            color: #f00;
            background: transparent;
        }
    }

    &.warning {
        color: #fff;
        background: #eec300;
        border-color: #eec300;

        &:hover {
            border: 1px solid #eec300;
            color: #eec300;
            background: transparent;
        }
    }
}

.circle-btn {
    width: 67.5px;
    height: 67.5px;
    border-radius:50%;
    border: none;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #f4f4f4;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.025);
    transition: .3s ease-in-out;
    cursor: pointer;

    &.previous {
        left: 150px;
    }

    &.next {
        right: 150px;
    }

    &.disabled {
        opacity: 0;
        display:none;
    }

    .icon {
        color: $darkGrey;
        font-weight:bold;
        font-family: Helvetica, sans-serif;
    }

    &:hover {
        background: #f9f9f9;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.075);
        
        .icon {
            color: $primaryColor;
        }
        
    }

    &:focus {
        box-shadow: 0px 0px 20px rgba(0,0,0,0.075);
        outline: none;
    }

    @include large {
        width: 55px;
        height: 55px;

        &.next {
            right: 100px;
        }

        &.previous {
            left: 100px;
        }
    }
}

//////////////////////////////  Form Group Styles  //////////////////////////////

.form-group {
            margin: 2em 0;

            &:first-of-type {
                margin: 1.25em 0 2em 0;
            }
            &.form-grid {
                display:grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 1.5em;
                width:100%;
            }

            .input-container {
                width: 100%;
                position:relative;

                .eyeIcon {
                    color: $lighterGrey;
                    position:absolute;
                    right: 10px;
                    top:50%;
                    transform:translateY(-50%);
                    cursor:pointer;
                }

                .eyeIcon:active {
                    color: $primaryColor;
                }

                .input {
                    width: 100%;
                    height: 35px;
                    border: 1px solid $lighterGrey;
                    border-radius: 5px;
                    transition: .3s ease-in-out;
                    padding-left: 10px;
                }

                .input-label {
                    color: $lighterGrey;
                    position:absolute;
                    left:10px;
                    top:50%;
                    transform: translateY(-50%);
                    font-size: .85rem;
                    transition: .3s ease-in-out;
                }

                .input:focus {
                    border-color: $primaryColor;
                    outline: none;
                    color: $primaryColor;
                }

                .input-label.valid, .input-label.focus {
                    font-size: .75rem;
                    left: 5px;
                    transform: none;
                    top: -6px;
                    background: #fff;
                    padding: 0 10px;
                }

                .input-label.focus {
                    color: $primaryColor;
                }

                .input.error {
                    border-color: #f00;
                }

                .input-label.error {
                    color: #f00;
                }
            }
        }

//////////////////////////////  Header Styles  //////////////////////////////

.header {
    width:60vw;
    background: #fff;
    height: 55vh;
    position:relative;
    top: -50px;
    left: 50%;
    transform:translateX(-50%);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.05);
    border-radius: 20px;

    @include large {
        top: -25px;
        height:  60vh;
    }

    .title {
        text-align:center;
        color: $darkGrey;
        font-weight: lighter;
        padding: 1.5em 0 0.75em 0;
        font-size: 3rem;

        @include large {
            font-size: 2rem;
        }
    }

    .description {
        text-align:center;
        width: 75%;
        margin: 0 auto;
        color: $lighterGrey;
        font-weight:lighter;
        font-size: 1.5rem;
        line-height: 1.75em;

        @include large {
            font-size: 1.2rem;
        }

        &.right {
            text-align: left;
        }
    }

    .btn-group {
        margin: 75px auto 0 auto;
        width:525px;

        @include large {
            margin: 50px auto 0 auto;
            width: 390px;
        }

        .or {
            padding: 20px 35px;

            @include large {
                font-size: .85rem;
            }
        }
    }

    .header-grid {        
        display: grid;
        grid-template-columns: 1fr 3fr;
        width: 85%;
        margin: 2em auto 0 auto;

        .logo {
            width: 100%;
            border-radius: 50%;
            position:relative;
            top:50%;
            transform: translateY(-50%);
        }
    }

    .link {
        color: $primaryColor;
        text-decoration: none;
        position:absolute;
        left:50%;
        transform:translateX(-50%);
        bottom: 45px;
        cursor: pointer;
        
        &:hover {
            text-decoration:underline;
        }

        &.special {
            bottom: 35px;
        }
    }

    .form {
        width: 50%;
        margin: 0 auto 0 auto;

        @include large {
            width: 75%;
        }

        .btn {
            position:relative;
            left:50%;
            transform:translateX(-50%);
            margin-top: 12.5px;
        }
    }

    &.register {
        height: 57.5vh;

        @include large {
            height: 70vh;
        }

    }

    &.projects {
        height: 72.5vh;
        position:absolute;

        .btn {
            position:absolute;
            left:50%;
            bottom: 50px;
            transform:translateX(-50%);

            @include large {
                bottom: 30px;
            }
        }
    }

    &.not-found {
        height: 40vh;

        .btn {
            margin-top: 3em;
            position:relative;
            left:50%;
            transform:translateX(-50%)
;        }
    }
}

//////////////////////////////  Footer Styles  //////////////////////////////

.footer {
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 60vw;
    left:50%;
    transform:translateX(-50%);
    background: #fff;
    border-radius: 20px 20px 0 0;

    
    .footer-text {
        color: $lighterGrey;
        font-weight: lighter;
        font-size: 1.2rem;
        line-height: 60px;
        display:inline-block;
        margin-left: 20px;
    }

    .help-sign {
        float:right;
        line-height: 60px;
        margin-right: 50px;
        text-decoration: none;
        font-weight:bold;
        color: $darkGrey;
        @include transition();

        &:hover {
            color: $primaryColor;
        }
    }
}

//////////////////////////////  Sidebar Styles  //////////////////////////////

.sidebar {
    width: 60px;
    position:absolute;
    left:0;
    height: 70vh;
    background: #fff;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.075);
    transition: 1s ease-in-out;
    margin-top: -50px;

    @include large {
        margin-top: -25px;
    }

    *.hidden {
            display:none;
    }

    .heading {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        color: $lighterGrey;
        font-weight: lighter;
        font-size: 1.2rem;
        line-height: 60px;
        position:relative;
        top:50%;
        transform: translateY(-50%);
    }

    .toggler {
        font-size: 1.5rem;
        positioN: absolute;
        top: 20px;
        left:50%;
        transform:translateX(-50%);
        color: $lighterGrey;
        font-weight: lighter;
        cursor: pointer;
        @include transition();
        z-index: 1;

        &:hover {
            color: $darkGrey;
        }
    }

    .header-img {
        width:100%;
        height: 20vh;
        object-fit: cover;
        object-position: 50% 50%;
        @include transition();
        opacity: .9;
        position: relative;
        border-radius: 0 20px 0 0;
        
        &.hidden {
            opacity: 0;
            z-index: 0;
        }
    }   

    .profile-icon {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position:relative;
        top: -50px;
        left:50%;
        transform: translateX(-50%);
        z-index: 1;
        border: 2px solid #fff;
        opacity: 1;

        &.hidden {
            opacity: 0;
            z-index: 0;
        }
    }

    .name {
        color: $darkGrey;
        font-weight:lighter;
        text-align:center;
        position:relative;
        top: -40.25px;
    }

    .small {
        color: $lighterGrey;
        text-align:center;
        font-weight: lighter;
        position:relative;
        top: -30px;
    }

    .btn {
        position:relative;
        left:50%;
        transform:translateX(-50%);
        margin-bottom: 30px;
    }
    
    &.open {
        width: 22.5vw;

        @include large {
            width:30vw;
        }

        .toggler {
            left: calc(100% - 50px);
            transform: none;
            color: #fff;
            background: rgba(255,255,255,0.125);
            width:40px;
            height: 40px;
            text-align:center;
            padding-top: 5px;
            border-radius: 50%;
        }
    }
}

//////////////////////////////  Error Styles  //////////////////////////////

div.error {
    background: rgba(255,0,0,0.125);
    border: 1px solid #f00;
    text-align:center;
    color: #f00;
    padding: 1em 0;
    border-radius: 5px;
    transition: .2s ease-in-out;
}

//////////////////////////////  Success Message Styles  //////////////////////////////

div.success {
    background: rgba(0, 150, 0, 0.125);
    border: 1px solid #0D0;
    text-align:center;
    color: #0D0;
    padding: 1em 0;
    border-radius: 5px;
}

//////////////////////////////  Overlay Styles  //////////////////////////////

.overlay {
    background: #000;
    opacity: 0.75;
    position:absolute;
    left:0;
    top:0;
    width:100vw;
    height: 100vh;
    z-index: 1;
    transition: 1s ease-in-out;

    &.hidden {
        left: 100vw;
        opacity: 0;
    }
}

//////////////////////////////  Modal Styles  //////////////////////////////

.modal {
    width: 35vw;
    height: 50vh;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background: #fff;
    box-shadow: 0px 0px 20pxrgba(0,0,0,0.075);
    border-radius: 20px;
    opacity: 1;
    transition: 1s ease-in-out;

    @include large {
        height: 72.5vh;
        width: 60vw;    
    }

    &.hidden {
        left: -50%;
        opacity: 0;
    }

    .close-icon {
        font-size: 2.5rem;
        position:absolute;
        right: 30px;
        top: 25px;
        color: $lighterGrey;
        transition:.2s ease-in-out;
        cursor: pointer;

        &:hover {
            color: #f00;
        }
    }

    .title {
        font-weight: lighter;
        font-size: 2rem;
        color: $darkGrey;
        padding: 1em 0 .5em 1em;
    }

    .modal-form {
        width:87.5%;
        margin: 0 auto;
    }

    .submit-btn {
        width:100%;
    }
}

//////////////////////////////  Popup Styles  //////////////////////////////

.popup {
    width: 300px;
    background: #fff;
    height: 150px;
    position:absolute;
    top: 25vh;
    left: 0;
    z-index: 1;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    transition: .75s ease-in-out;
    
    .popup-text {
        font-size: 1.15rem;
        text-align:center;
        padding: 1em;
    }
    
    .btn {
        position:relative;
        left:50%;
        top: 10px;
        transform: translateX(-50%);
    }

    &.hidden {
        left: -300px;
    }
}

//////////////////////////////  Project Styles  //////////////////////////////

.project {
    width: 40%;
    height: 71.25%;
    position:absolute;
    bottom: 30px;
    left:50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
    border-radius: 15px;
    font-family: Helvetica, sans-serif;

    .project-img {
        width:100%;
        border-radius: 15px 15px 0px 0px
    }

    .project-title {
        font-weight:lighter;
        font-size: 1.25rem;
        color: $darkGrey;
        padding: .5em 0;
        text-align:center;
    }

    .project-desc {
        font-weight:lighter;
        font-size: 0.85rem;
        line-height:1.75em;
        color: lighten($lighterGrey, 15%);
        text-align:center;
        width:80%;
        position:relative;
        left:50%;
        transform: translateX(-50%);
    }

    .project-tags {
        height: 20px;
        width: 80%;
        margin: 15px 0 0 10%;
        list-style: none;
        display:flex;
        bottom: 80px;

        .tag {
            background: lighten($lighterGrey, 15%);
            color: #fff;
            margin: 0 5px;
            font-size: .85rem;
            min-width: 50px;
            text-align:center;
            line-height: 20px;
            border-radius:5px;
        }
    }

    .no-tags {
        font-weight:lighter;
        font-size: 0.85rem;
        line-height:1.75em;
        color: lighten($lighterGrey, 15%);
        margin: 20px 0 0 0;
    }

    .project-tags, .icons-container {
        position:absolute;
    }

    .icons-container {
        width:80%;
        height: 30px;
        margin: 12.5px 0 0 10%;
        bottom: 40px;

        .icon-group {

            &.left {
                float:left;
            }

            &.right {
                float:right;
            }

            .icon {
                color: $darkGrey;
                font-size: 1.25rem;
                margin: 0 7.5px;
                transition: .3s ease-in-out;
                cursor: pointer;

                &.active {  
                    color: $primaryColor;

                    &:hover {
                        color: $primaryColor;
                    }
                }

                &.disabled {
                    color: $lighterGrey;
                    cursor: default;
                }

                &:hover {
                    color: $lighterGrey;
                }

                
                &.active {  
                    color: $primaryColor;

                    &:hover {
                        color: $primaryColor;
                    }
                }
            }
        }
    }

    .project-footer {
        background: #e9e9e9;
        position:absolute;
        height: 35px;
        bottom: 0;
        width:100%;
        border-radius: 0px 0px 15px 15px;

        .footer-text {
            font-size: 0.8rem;
            color: $darkGrey;
            text-align:center;
            line-height: 35px;

            .profile-link {
                color: $primaryColor;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}