/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

//////////////////////////////   Meida Query Mixins  //////////////////////////////

@mixin large {
    @media screen and (max-width: 1302px) {
        @content;
    }
}

////////////////////////////// Define Variables  //////////////////////////////

$primaryColor: #0099FF;
$darkGrey: #3E3E3E;
$lighterGrey: #747474;

//////////////////////////////  Base Styles  //////////////////////////////

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    background-image: url('/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
}

//////////////////////////////  Nav Styles  //////////////////////////////

.navbar {
    width:70vw;
    margin: 75px auto 0 auto;
    position:relative;

    @include large {
        width: 85vw;
        margin: 40px auto 0 auto;
    }

    .nav-brand {
        color: #fff;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight:lighter;
        letter-spacing: .05em;

        .icon {
            position:relative;
            top: 5px;
        }

        .bold {
            font-weight: bold;
        }

        @include large {
            font-size: 1.75rem;
        }
    }

    .nav-list {
        position:absolute;
        right:0;
        top: 0;
        list-style: none;

        .nav-item {
            margin: 10px 16px;
            float:left;

            .nav-link {
                color: #fff;
                text-transform: uppercase;
                text-decoration: none;
                font-size: 1.25rem;

                &:hover {
                    text-decoration: underline;
                }

                &.active {
                    color: $primaryColor;
                    text-decoration: none;
                }

                @include large {
                    font-size: 1rem;
                }
            }
        }

    }
}

//////////////////////////////  Container Styles  //////////////////////////////

.container {
    background: #f1f1f1;
    width:100vw;
    height: 77.5vh;
    position:absolute;
    bottom: 0;

    @include large {
        height:80vh;
    }
}

//////////////////////////////  Button Styles  //////////////////////////////

.btn {
    padding: 1em 0;
    width: 200px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: .3s ease-in-out;
    border: 1px solid $primaryColor;

    @include large {
        padding: .75em;
        width:150px;
        font-size: .85rem;
    }

    &.primary {
        color: #fff;
        background: $primaryColor;

        &:hover {                           
            border: 1px solid $primaryColor;
            color: $primaryColor;
            background: transparent;    
        }
    }

    &.outline {
        color: $primaryColor;
        background: transparent;
        
        &:hover {    
            color: #fff;
            background: $primaryColor;
        }
    }
}

//////////////////////////////  Header Styles  //////////////////////////////

.header {
    width:60vw;
    background: #fff;
    height: 55vh;
    position:relative;
    top: -50px;
    left: 50%;
    transform:translateX(-50%);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.05);
    border-radius: 20px;

    @include large {
        top: -25px;
        height:  60vh;
    }

    .title {
        text-align:center;
        color: $darkGrey;
        font-weight: lighter;
        padding: 1.5em 0 0.75em 0;
        font-size: 3rem;

        @include large {
            font-size: 2rem;
        }
    }

    .description {
        text-align:center;
        width: 75%;
        margin: 0 auto;
        color: $lighterGrey;
        font-weight:lighter;
        font-size: 1.5rem;
        line-height: 1.75em;

        @include large {
            font-size: 1.2rem;
        }
    }

    .btn-group {
        margin: 75px auto 0 auto;
        width:525px;

        @include large {
            margin: 50px auto 0 auto;
            width: 390px;
        }

        .or {
            padding: 20px 35px;

            @include large {
                font-size: .85rem;
            }
        }
    }

    
    .link {
        color: $primaryColor;
        text-decoration: none;
        position:absolute;
        left:50%;
        transform:translateX(-50%);
        bottom: 45px;
        cursor: pointer;
        
        &:hover {
            text-decoration:underline;
        }

        &.special {
            bottom: 35px;
        }
    }

    .form {
        width: 75%;
        margin: 0 auto 0 auto;

        .form-group {
            margin: 2em 0;

            &:first-of-type {
                margin: 1.25em 0 2em 0;
            }
            &.form-grid {
                display:grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 1.5em;
                width:100%;
            }

            .input-container {
                width: 100%;
                position:relative;

                .eyeIcon {
                    color: $lighterGrey;
                    position:absolute;
                    right: 10px;
                    top:50%;
                    transform:translateY(-50%);
                    cursor:pointer;
                }

                .eyeIcon:active {
                    color: $primaryColor;
                }

                .input {
                    width: 100%;
                    height: 35px;
                    border: 1px solid $lighterGrey;
                    border-radius: 5px;
                    transition: .3s ease-in-out;
                    padding-left: 10px;
                }

                .input-label {
                    color: $lighterGrey;
                    position:absolute;
                    left:10px;
                    top:50%;
                    transform: translateY(-50%);
                    font-size: .85rem;
                    transition: .3s ease-in-out;
                }

                .input:focus {
                    border-color: $primaryColor;
                    outline: none;
                    color: $primaryColor;
                }

                .input-label.valid, .input-label.focus {
                    font-size: .75rem;
                    left: 5px;
                    transform: none;
                    top: -6px;
                    background: #fff;
                    padding: 0 10px;
                }

                .input-label.focus {
                    color: $primaryColor;
                }

                .input.error {
                    border-color: #f00;
                }

                .input-label.error {
                    color: #f00;
                }
            }
        }

        .btn {
            position:relative;
            left:50%;
            transform:translateX(-50%);
            margin-top: 12.5px;
        }
    }

    &.register {
        height: 70vh;
    }
    &.not-found {
        height: 40vh;

        .btn {
            margin-top: 3em;
            position:relative;
            left:50%;
            transform:translateX(-50%)
;        }
    }
}

//////////////////////////////  Footer Styles  //////////////////////////////

.footer {
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 60vw;
    left:50%;
    transform:translateX(-50%);
    background: #fff;
    border-radius: 20px 20px 0 0;

    
    .footer-text {
        color: $lighterGrey;
        font-weight: lighter;
        font-size: 1.2rem;
        line-height: 60px;
        display:inline-block;
        margin-left: 20px;
    }

    .help-sign {
        float:right;
        line-height: 60px;
        margin-right: 50px;
        text-decoration: none;
        font-weight:bold;
        color: $darkGrey;
        transition:.2s ease-in-out;

        &:hover {
            color: $primaryColor;
        }
    }
}